@base: blue;
* {
  padding: 0;
  margin: 0;
}
body {
  color: @base;
}

.line1-btn {
  border-radius: 4px;
  padding: 0px 10px;
  min-width: 60px;
  height: 30px;
  background: #fff;
  border: 1px solid transparent;
  border-color: #ececec;
}

.btn:hover {
  cursor: pointer;
  background: #eee;
}

.mt-20 {
  margin-top: 20px;
}

#tooltip {
  display: none;
  min-width: 100px;
  max-width: 200px;
  min-height: 40px;
  position: absolute;
  z-index: 99999999;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 18px;
  left: 0;
  top: 0;
  border: 1px solid #09f;
  border-radius: 3px;
  background-color: #fff;
  .arrow {
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: -20px;
    left: 40px;
  }
  .arrow * {
    display: block;
    border-width: 10px;
    position: absolute;
    border-style: solid dashed dashed dashed;
    font-size: 0;
    line-height: 0;
  }
  .arrow em {
    border-color: #09f transparent transparent;
  }
  .arrow span {
    border-color: #fff transparent transparent;
    top: -2px;
  }
  #tooltipContent {
    margin: 6px;
  }
}

.loading {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
}

.loading.loading-lg .sk-fading-circle {
  width: 50px;
  height: 50px;
  bottom: 100px;
}

.sk-fading-circle {
  margin: auto;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 40px;
}

.loading.loading-lg .sk-fading-circle .sk-circle {
  margin: 50px auto;
}

.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-circle {
  margin: 40px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.sk-fading-circle .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #1AAFE8;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
  animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}

.loading.loading-lg .sk-fading-circle .sk-circle:before {
  width: 8px;
  height: 8px;
}

.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}

.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
}

.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  transform: rotate(150deg);
}

.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  transform: rotate(210deg);
}

.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  transform: rotate(240deg);
}

.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  transform: rotate(300deg);
}

.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  transform: rotate(330deg);
}
